In [55]:
import pandas as pd

In [56]:
data = pd.read_excel('lotto_data.xlsx')

In [57]:
data

   번호1  번호2  번호3  번호4  번호5  번호6
0   12   30   32   37   39   41
1    5    7   12   13   18   35
2   14   16   27   35   39   45
3    5   12   13   31   32   41
4    8    9   20   25   29   33
5    9   18   20   22   38   44
6   10   14   16   18   29   35
7    5    6   11   29   42   45
8   12   15   17   24   29   45
9   12   27   29   38   41   45

In [58]:
lotto_list = []
for i in range(1,7):
    for  j in range(0,10):
        lotto_list.append(data[f'번호{i}'][j])
len(lotto_list)

60

In [59]:
previous_list = []
for i in range(1,7):
    previous_list.append(data[f'번호{i}'][0])
previous_list

[12, 30, 32, 37, 39, 41]

In [60]:
from collections import Counter
cnt = Counter(lotto_list)
cnt.most_common()[0:6]

[(12, 5), (29, 5), (45, 4), (5, 3), (18, 3), (35, 3)]

In [61]:
29,12,45,5,18,35

(29, 12, 45, 5, 18, 35)

In [62]:
previous_consider=[]
count = [0]*6
for i in range(0,6):
    for j in range(len(lotto_list)):
        if previous_list[i] == lotto_list[j]:
            count[i] += 1
count

[5, 1, 2, 1, 2, 3]

In [63]:
12,30,32,37,39,41

(12, 30, 32, 37, 39, 41)

In [64]:
cnt.most_common()

[(12, 5),
 (29, 5),
 (45, 4),
 (5, 3),
 (18, 3),
 (35, 3),
 (41, 3),
 (14, 2),
 (9, 2),
 (16, 2),
 (27, 2),
 (32, 2),
 (13, 2),
 (20, 2),
 (38, 2),
 (39, 2),
 (8, 1),
 (10, 1),
 (30, 1),
 (7, 1),
 (6, 1),
 (15, 1),
 (11, 1),
 (17, 1),
 (37, 1),
 (31, 1),
 (25, 1),
 (22, 1),
 (24, 1),
 (42, 1),
 (33, 1),
 (44, 1)]